<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okada.travelogue">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travelogue">
        <activity android:name=".Activity.HelpStartActivity"></activity>
        <activity android:name=".Activity.SettingsStartActivity" />
        <activity android:name=".Activity.HotelBookingActivity" />
        <activity android:name=".Activity.HotelsActivity" />
        <activity android:name=".Activity.FindHotelActivity" />
        <activity android:name=".Activity.PayActivity" />
        <activity android:name=".Activity.SeatActivity" />
        <activity
            android:name=".Activity.PassengerInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity android:name=".Activity.BookingActivity" />
        <activity android:name=".Activity.TicketsActivity" />
        <activity android:name=".Activity.FindTicketActivity" />
        <activity android:name=".Activity.HelpActivity" />
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.PrivacyPolicyActivity" />
        <activity android:name=".Activity.ConditionsActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.BoardingPageActivity" />
        <activity android:name=".Activity.SignUp2Activity" />
        <activity android:name=".Activity.SignInStartActivity" />
        <activity android:name=".Activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ForgotPasswordActivity" />
        <activity android:name=".Activity.SignUp1Activity" />
        <activity android:name=".Activity.SignInActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>